@import '@/assets/scss/_variables.scss';

body {
  background: $body-background;
}

.module-title {
  font-size: 1.15rem;
  line-height: 40px;
  font-weight: 700;
  color: $secondary-color;
  text-align: center;
}

.float-animation,
.float-animation-1 {
  animation: float 6s ease-in-out infinite;
}

.float-animation-2 {
  animation: float 8s ease-in-out infinite;
}

.float-animation-3 {
  animation: float 10s ease-in-out infinite;
}

.float-animation-4 {
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0);
    transform-origin: center;
  }

  50% {
    transform: translatey(-20px);
    transform-origin: center;
  }

  to {
    transform: translatey(0);
    transform-origin: center;
  }
}
