$primary-color: #5243c2;
$secondary-color: #ffad60;
$tertiary-color: #96ceb4;
$body-background: #1d1b1b;
$body-text-color: #fff;

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.tertiary-color {
  color: $tertiary-color;
}

.body-text-color {
  color: $body-text-color;
}
